
<h1 class="col-lg-12 no-padding-left no-padding-right heading">Welcome To People For Animal</h1>
<div class="row no-padding-left no-padding-right">
<div class="col-lg-12 no-padding-left no-padding-right">
<div class="col-lg-3 col-lg-offset-1 menuitems"><%= link_to "New Customer", new_customer_path %></div>

<div class="col-lg-3 col-lg-offset-1 menuitems"><%= link_to "Existing Customer", customers_path %></div>

<div class=" col-lg-3 col-lg-offset-1 menuitems"><%= link_to "Pets", pets_path %></div>
</div>
</div>
 
